.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  background-color: #282c34;
}

.App-header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin-top: 10rem;
  color: white;
}

.App-link {
  color: #09d3ac;
}

code {
  margin: 1rem;
}

button {
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.7);
  font-weight: bolder;
  padding: .5rem;
  border: none;
  box-shadow: 0 0 3px rgba(255,255,255,.5);
  margin: 1rem;
}

.bordered {
  border-left: 2px solid white ;
  border-right: 2px solid white ;
  border-bottom: 2px solid white ;
  padding: 0 5rem;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.show {
  max-height: 40vh;
  transition: max-height 1s ease-in;
  overflow: scroll;
}

ul{
  padding: 0;
}